*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// INDEX


#contenedorprincipal{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto auto 200px;
    grid-template-areas: 
    "header"
    "aside"
    "article"
    "footer";


    header{

        @include header-grid;
      
        img{
            width: 80px;
            grid-area: logo;
        }

        nav{
            grid-area: opciones;
            display: flex;
            width: 100%;
            justify-content: space-around;

            a{
                text-decoration: none;
                color: white;
                font-size: medium;
                &:hover{
                    color: orange;
                }
                
            }
        }

        .buscador{
        grid-area: buscador;
        }
    }

    aside{
        grid-area: aside;
    
        img{
        width: 100%;
        }
    }

    
    article{
        grid-area: article;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        img{
            width: 120px;
        }

        .ind{
            border: 2px solid gray;
            border-radius: 20px;
            padding: 10px;
            margin: 10px;
            &:hover{
                box-shadow: 5px 5px gray;
            }
        }
    }

    footer{

        @include footer-flex;
    
        img{
            width: 60px;
        }

        h5{
            color: white;
        }

        .icon{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

    
    }    

    @media (min-width: 600px){
        #contenedorprincipal{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 150px auto auto 200px;
            grid-template-areas:
            "header header"
            "aside aside"
            "article article"
            "footer footer";
        }
        header{
            grid-template-columns: 1fr 3fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas:
            "logo opciones buscador";
            justify-content: space-evenly;
            align-items: center;

            nav{
                a{
                    font-size: large;
                }
            }
        }
        article{
            flex-direction: row;
            justify-content: space-evenly;
        }
    
    }

}

// INDUMENTARIA

#contenedorind{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto auto 200px;
    grid-template-areas:
    "header"
    "article"
    "article"
    "footer";

    header{
        @include header-grid;
    
        img{
            width: 80px;
            grid-area: logo;
        }

        nav{
            grid-area: opciones;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            
            a{
                text-decoration: none;
                color: white;
                font-size: medium;

                &:hover{
                    color: orange;
                }
            }
        }

        button{
        grid-area: buscador;
        }
    }

    article{
        grid-area: article;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .indu{
            width: 300px;
        }

        .indu1{
            width: 300px;
        }

        .cardi{
            border: 2px solid gray;
            border-radius: 20px;
            padding: 10px;
            margin: 10px;
            &:hover{
                box-shadow: 5px 5px gray;
            }
        }

        img{
            width: 150px;
            &:hover{
                transform: scale(1.1)
            }
        }
    }

    footer{
 
        @include footer-flex;
        
        img{
            width: 60px;
        }

        h5{
            color: white;
        }

        .icon{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 30px;
           
        }
    }

    @media (min-width: 600px){
        #contenedorprincipal{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 150px auto auto 200px;
            grid-template-areas:
            "header header"
            "aside aside"
            "article article"
            "footer footer";  
        }

        header{
            grid-template-columns: 1fr 3fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas:
            "logo opciones buscador";
            justify-content: space-evenly;
            align-items: center;

            nav{
                a{
                    font-size: large;
                }
            }

        }

    }

    @media (min-width: 700px){
        article{
            grid-area: article;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .indu{
                width: 200px;
                margin: 30px;
                
            }

            .indu1{
                width: 200px;
                margin: 30px;
                
            }

            img{
                width: 150px;
            }


        }
    }


   

}

// CALZADO

#contenedorcal{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto auto 200px;
    grid-template-areas:
    "header"
    "article"
    "article"
    "footer";

    header{
        @include header-grid;

        img{
            grid-area: logo;
            width: 80px;
        }

        nav{
            grid-area: opciones;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
    

            a{
                text-decoration: none;
                color: white;
                

                &:hover{
                    color: orange;
                   
                }
            }
        }

        .buscador{
            grid-area: buscador;
        }

    }

    article{
        grid-area: article;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .calz1{
            width: 200px;
        }

        .calz2{
            width: 200px;
        }

        .cardc{
            border: 2px solid gray;
            border-radius: 20px;
            padding: 10px;
            margin: 10px;
            &:hover{
                box-shadow: 5px 5px gray;
            }
        }

        img{
            width: 150px;
            &:hover{
                transform: scale(1.1)
            }
        }
    }

    
    

    footer{
        
        @include footer-flex;

        img{
            width: 60px;
        }

        h5{
            color: white;
        }
    }


    @media (min-width: 600px){
        #contenedorprincipal{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 150px auto auto 200px;
            grid-template-areas:
            "header header"
            "aside aside"
            "article article"
            "footer footer";  
        }

        header{
            grid-template-columns: 1fr 3fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas:
            "logo opciones buscador";
            justify-content: space-evenly;
            align-items: center;

            a{
                font-size: large;
            }
        }
    }

    @media (min-width: 700px){
        article{
            grid-area: article;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        
            .calz1{
                width: 200px;
            }

            .calz2{
                width: 200px;
            }
        }
    }
}
// ACCESORIOS

#contcuar{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto auto 200px;
    grid-template-areas:
    "header"
    "article"
    "article"
    "footer";

    header{
        @include header-grid;

        img{
            grid-area: logo;
            width: 80px;
            
        }

        nav{
            grid-area: opciones;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: orange;
                }
            }
        }

        .buscador{
            grid-area: buscador;
        }

        }

    article{
        grid-area: article;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .acc1{
            width: 200px;
        }

        .acc2{
            width: 200px;
        }

        .acc{
            border: 2px solid gray;
            border-radius: 20px;
            padding: 10px;
            margin: 10px;
            &:hover{
                box-shadow: 5px 5px gray;
            }
        }

        img{
            width: 150px;
            &:hover{
                transform: scale(1.1)
            }
       
        }
    }

    footer{
        @include footer-flex;
        
        img{
            width: 60px;
        }

        h5{
            color: white;
        }
    }

    @media (min-width: 600px){
        #contenedorprincipal{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 150px auto auto 200px;
            grid-template-areas:
            "header header"
            "aside aside"
            "article article"
            "footer footer";  
        }

        header{
            grid-template-columns: 1fr 3fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas:
            "logo opciones buscador";
            justify-content: space-evenly;
            align-items: center;

            a{
                font-size: large
                
                ;
            }
            }
        }




    @media (min-width: 700px){
        article{
            grid-area: article;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        
            .acc1{
                width: 200px;
            }

            .acc2{
                width: 200px;
            }
        }
    }
}

// NOSOTROS

.container-fluid{
    background-image: $color !important;
    height: 200px !important;

    .nav-item{

        a{
            color: white !important;
            &:hover{
                color: orange !important
            }
        }
    }

    h4{
        padding-left: 30px;
    }
}

.footer{
    @include footer-flex;

    img{
        width: 60px;
    }

    h5{
        color: white;
    }

}